.round_Q_wrapper{
  display: block;
  margin-top: 3rem;
}
.questions_wrapper {
  display: block;
  margin: 3rem auto 0 auto;
  width: 70%;
}
.qustions_box {
  float: left;
  width: 50%;
  min-height: 15rem;
  border-right: 1px solid #fff;
}
.qustion {
  display: block;
  color: #fff;
  font-size: 1.8rem;
  margin-bottom: 3rem;
}
