.your_score_box {
  display: block;
  text-align: center;
}
.score_title {
  display: inline-block;
  font-size: 3rem;
  color: #fff;
  margin-right: 1.5rem;
  text-transform: capitalize;
}
.your_score {
  display: inline-block;
  font-size: 3rem;
  color: #fff;
}
